@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    position:sticky;
    top: 0;
    margin-top: 10px;
}

header input {
    width: 100%;
}

#top-section {
    align-items: center;
    justify-content: center;
    background-image: url("./images/background.jpeg");
    background-size: cover;
    text-align: center;
}

#ym-logo {
    position: relative;
    top: 50px;
}

.basic-info {
    background-color: white;
    padding-bottom: 10px;
}

.end-hr {
    background-image: url("./images/background.jpeg");
    background-size: cover;
}

.basic-info button {
    font-size: 1.2em;
    border-radius: 25px;
    border-color: blue;
    background-color: white;
    color: blue;
    padding: .2em .7em;
    cursor: pointer;
}

.basic-info button:hover{background-color: #c0c0c0;}



.employer-number {
    display: flex;
    justify-content: center;
}

.post-header {
    display: flex;
}

.info-container {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.dot-container {
    display: flex;
    justify-content: space-between;
}

.post-img {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.post-img img {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}

.site-link {
    display: flex;
    flex-direction: column;
    background-color: #c0c0c0;
    height: 3rem;
    justify-content: center;
    position: relative;
    bottom: 70px;
    padding: 10px 0px 15px 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.post-footer-container {
    display: flex;
}

.cmnt-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 60px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.action-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    position: relative;
    bottom: 45px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
}

footer {
    display: flex;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
}

.footer-container {
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.post-para {
    height: 50px; 
    overflow: hidden;
}

.read-more-btn {
    text-decoration: none; 
    color: gray;
}

